*{
    box-sizing: border-box;
}
body{
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', 'san-serif';
}
.movie-schedule{
    display: flex;
}
.item{
    margin: 20px;
    font-size: 40px;
    border: solid white 2px;

}
.form-group{
    display: inline-flex;
    margin-left: 20px;
}
 .form-group .type{
    margin-right: 10px;
}
 .container1 select{
     background-color:greenyellow;
     border: 0;
     border-radius: 5px;
     font-size: 14px;
     margin-left: 10px;
     padding: 5px 15px 5px 15px;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
 }






